$colors : (
    light-red: #f0645a,
    text: #11131a,
    primary: #7980ff,
    light-white: #ffffff,
    pest: #34c8de,
    ligth-pest: #3febf4,
    orange: #f87710,
    yellow: #fbae18,
    sucess: #5fd788
);